version: '3.5'

services:
  kanairo-sms: 
    image: kanairo-sms
    container_name: kanairo-api
    depends_on: [db, redis]
    ports:
      - '80:5000'
    environment:
      - SECRET="kwa00000000000.25"
      - APP_SETTINGS=production
      - DATABASE_URL=postgresql+psycopg2://test:test@db/kanairo_sms
      - CELERY_BROKER_URL=redis://cache:6379/0
      - CELERY_RESULT_BACKEND=redis://cache:6379/0
      - FLASK_RUN_HOST=0.0.0.0

  redis: 
    image: redis
    container_name: cache
    expose:
      - 6379

  db: 
    environment: 
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: kanairo_sms
    image: postgres:latest
    ports: 
      - 5405:5432
    restart: always
    volumes: 
      - ./postgres-data:/var/lib/postgresql/data
